/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

body {
    font-family: 'Nunito', sans-serif;
    background-color: #b2bec3;
}

div {
    margin: 0 auto;
    width: 550px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    padding: 30px;
    background-position: center;
    position: relative;
    box-shadow: 10px 5px 5px rgba(0,0,0,.4);
}

h1 {
    font-size: 36px;
    font-weight: bold;
    text-align: left;
    color: #d63031;
    margin: 0;
    padding: 0;
}

p {
    text-align: justify;
    font-size: 18px;
    margin: 30px 0;
}

.eliska-foto {
    width: 150px;
    border-radius: 50%;
    border: 3px solid white;
    position: absolute;
    top: -75px;
    left: 85%;
}

button a {
    display: inline-block;
    text-decoration: none;
    color: white;
}

.twitter a,
.fb a {
    display: block;
    font-size: 18px; 
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
}

.twitter {
    background-color: #1da1f2;
    margin-bottom: 5px;
    width: 490px;
    border-radius: 5px;
    border: none;
    padding: 0;
}

.twitter a:hover,
.twitter a:focus {
    background-color: #0b7bc1;
    border-radius: 5px;
}

.fb {
    background-color: #3b5998;
    width: 490px;
    border-radius: 5px;
    border: none;
    padding: 0;
}

.fb a:hover,
.fb a:focus {
    background-color: #2b406e;
    border-radius: 5px;
}
/*
BARVY:
šedá na pozadí stránky:		 #b2bec3
červená na hlavní nadpis:  #d63031

tlačítko Twitter:					 #1da1f2
tlačítko Twitter aktivní:	 #0b7bc1

tlačítko Facebook:				 #3b5998
tlačítko Facebook aktivní: #2b406e
*/

